<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
    <title>Star Wars Garage</title>
    <%- include('./layout/style-link') %>
  <%- include('./layout/nav') %>
</head>
<body>
<header>
    <h1>Star Wars Garage</h1>
</header>
<main>
    <div class="result">
        <% vehicles.forEach( vehicle => { %>
          <section>
            <img src="images/<%=vehicle.image_url%>"/>
            <h2>Vehicle Name</h2>
            <h3><%=vehicle.name%></h3>
            <h2>Vehicle Model</h2>
            <p><%=vehicle.model%></p>
            <h2>Vehicle Length</h2>
            <p><%=vehicle.length%></p>
          </section>
        <form method="POST" action="/delete?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" value="<%= vehicle.name %>" name="name">
        <button>Delete Vehicle</button>
        </form>
        <% }) %>
        </div>
</main>
<footer>
    <h2>Copyright <%= new Date().getFullYear() %></h2>
</footer>
</body>
</html>