<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  <title>Vehicle Search</title>
  <%- include('./layout/style-link') %>
  <%- include('./layout/nav') %>
</head>
<body>
  <header>
  </header>
  <main>
    <h1>Results</h1>
    <div class="result">
    <% vehicles.forEach( vehicle => { %>
      <section>
        <img src="images/<%=vehicle.image_url%>"/>
        <h3>Vehicle Name</h3>
        <p><%=vehicle.name%></p>
        <h3>Vehicle Model</h3>
        <p><%=vehicle.model%></p>
        <h3>Vehicle Length</h3>
        <p><%=vehicle.length%> feet</p>
        <h3>Vehicle Cargo Capacity</h3>
        <p><%=vehicle.cargo_capacity%> pounds</p>
        <form action="/garage" method="post">
          <input type="hidden" name="name" value="<%= vehicle.name %>"/>
          <input type="hidden" name="model" value="<%= vehicle.model %>"/>
          <input type="hidden" name="length" value="<%= vehicle.length %>"/>
          <input type="hidden" name="cargo" value="<%= vehicle.cargo_capacity %>"/>
          <input type="hidden" name="image_url" value="<%= vehicle.image_url %>"/>
          <button type="submit">Save To Garage</button> 
        </form>
      </section>
    <% }) %>
    </div>
  </main>
  <footer>
    <%- include('./layout/footer') %>
  </footer>
</body>
</html>