<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vechile Search</title>
  <%- include('./layout/style-link') %>
</head>
<body>
  <header>
  </header>
  <main>
    <h1>Results</h1>
    <% vehicles.forEach( vehicle => { %>
      <section>
        <img src="images/<%=vehicle.image_url%>"/>
        <h2>Vehicle Name</h2>
        <h3><%=vehicle.name%></h3>
        <h2>Vehicle Model</h2>
        <p><%=vehicle.model%></p>
        <h2>Vehicle Length</h2>
        <p><%=vehicle.length%></p>
        <h2>Vehicle Cargo Capacity</h2>
        <p><%=vehicle.cargo_capacity%></p>
        <form action="/garage" method="post">
          <input type="hidden" name="name" value="<%= vehicle.name %>"/>
          <input type="hidden" name="model" value="<%= vehicle.model %>"/>
          <input type="hidden" name="length" value="<%= vehicle.length %>"/>
          <input type="hidden" name="cargo" value="<%= vehicle.cargo_capacity %>"/>
          <input type="hidden" name="imag_url" value="<%= vehicle.imag_url %>"/>
          <button type="submit">Save To Garage</button> 
        </form>
      </section>
    <% }) %>
  </main>
  <footer>
    <%- include('./layout/footer') %>
  </footer>
</body>
</html>